/* ------------------------------------------------------------
	Reset Styles
------------------------------------------------------------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/* ------------------------------------------------------------
	General Styles
------------------------------------------------------------ */

* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background: white;
	color: black;
	font-size: 16px;
	line-height: 1;
	padding: 2em;
}
.sitemap {
	margin: 0 0 2em 0;

}

/* ------------------------------------------------------------
	Line Item Styles
------------------------------------------------------------ */

/* --------	Top Level --------- */

.primaryNav {
	clear: both;
	width: 100%;
}
.primaryNav #home {
		position: absolute;
		margin-top: -3em;
		margin-bottom: 0;
		min-width: 11.5em;
		width: 100%;
	}
.primaryNav #home:before {
	display: none;
}
.primaryNav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.primaryNav li {
	flex: 1;
	flex-basis: 11.5em;
	padding-right: 1.25em;
	position: relative;
}
.primaryNav > ul > li {
	margin-top: 3em;
}
.primaryNav li a {
	margin: 0;
	padding: .625em;
	display: block;
	font-size: .875em;
	font-weight: bold;
	text-align: center;
	color: black;
	background: #c3eafb url('images/white-highlight.png') top left repeat-x;
	border: 2px solid #b5d9ea;
	border-radius: 3px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	text-decoration: none;
}
.primaryNav li a:hover {
	background-color: #e2f4fd;
	border-color: #97bdcf;
}
a:link:before,
a:visited:before {
	content: " "attr(href)" ";
	display: block;
	text-transform: uppercase;
	font-size: 10px;
	margin-bottom: 5px;
	word-wrap: break-word;
}
.primaryNav li a:link:before,
.primaryNav li a:visited:before {
	color: #78a9c0;
}

/* --------	Second Level --------- */

.primaryNav ul ul {
	display: block;
}
.primaryNav ul ul li {
	padding-top: .6875em;
	padding-right: 0;

}
.primaryNav ul ul li a {
	background-color: #cee3ac;
	border-color: #b8da83;
}
.primaryNav ul ul li a:hover {
	border-color: #94b75f;
	background-color: #e7f1d7;
}
.primaryNav ul ul li:first-child {
	padding-top: 2em;
}
.primaryNav ul ul li:last-child {
}
.primaryNav ul ul li a:link:before,
.primaryNav ul ul li a:visited:before {
	color: #8faf5c;
}

/* --------	Third Level --------- */

.primaryNav ul ul ul {
	margin-top: .6em;
	padding-top: .6em;
	padding-bottom: .625em;
}
.primaryNav ul ul ul li {
	padding-top: .3125em;
	padding-bottom: .3125em;
}
.primaryNav ul ul ul li a {
	background-color: #fff7aa;
	border-color: #e3ca4b;
	font-size: .75em;
	padding: .5em 0;
	width: 90%;
	margin-right: 0;
	margin-left: auto;
}
.primaryNav ul ul ul li a:hover {
	background-color: #fffce5;
	border-color: #d1b62c;
}
.primaryNav ul ul ul li:first-child {
	padding-top: 1em;
}
.primaryNav ul ul ul li a:link:before,
.primaryNav ul ul ul li a:visited:before {
	color: #ccae14;
	font-size: .75em;
}
/* --------	Fourth Level --------- */

.primaryNav ul ul ul ul {
	margin-top: 0em;
	padding-top: .3125em;
	padding-bottom: .3125em;
}
.primaryNav ul ul ul ul li {
	padding-top: .3125em;
	padding-bottom: .3125em;
}
.primaryNav ul ul ul ul li a {
	background-color: violet;
	border-color: purple;
	font-size: .75em;
	padding: .625em 0;
	width: 80%;
	margin-right: 0;
	margin-left: auto;
}
.primaryNav ul ul ul ul li a:hover {
	background-color: #fffce5;
	border-color: #d1b62c;
}
.primaryNav ul ul ul ul li:first-child {
	padding-top: 1em;
}
.primaryNav ul ul ul ul li a:link:before,
.primaryNav ul ul ul ul li a:visited:before {
	display: none;
}

/* ------------------------------------------------------------
	Connecting Lines:
	Uncomment 'border-color: red' for debugging
------------------------------------------------------------ */

.primaryNav ul:before,
.primaryNav ul:after,
.primaryNav ul li:before,
.primaryNav ul li:after {
	display: block;
	content: '';
	position: absolute;
	border-width: 0;
	border-color: rgba(0,0,0,.1);
	border-color: #e5e5e5;
	border-style: solid;
	z-index: -1;
	/* border-color: red; */
}
.primaryNav > ul > li:before {
	height: 1.375em;
	top: -1.375em;;
	right: calc(50% + .625em);
	width: calc(100% - 2px);
	border-top-width: 2px;
	border-right-width: 2px;
	/* border-color: red; */
}
.primaryNav > ul > li:first-child + li:before {
	border-top-width: 0;
	height: 5em;
	top: -5em;
	/* border-color: red; */
}
.primaryNav ul ul li:after {
	width: 50%;
	height: .6875em;
	top: 0;
	right: 1px;
	border-left-width: 2px;
	/*  border-color: red */;
}
.primaryNav ul ul li:first-child:before {
	top: .6875em;
	width: 50%;
	height: 1.3125em;
	right: 1px;
	border-left-width: 2px;
	/* border-color: red; */
}
.primaryNav > ul > li:last-child:after {
	border-bottom-width: 0;
}
.primaryNav ul ul ul li:before {
	width: calc(50% - 5px) !important;
	height: calc(100% - 2px);
	top: -50%;
	left: 0;
	border-left-width: 2px;
	border-bottom-width: 2px;
	/* border-color: red; */
}
.primaryNav ul ul ul li:first-child:before {
	height: 53%;
	top: auto;
	bottom: calc(50% - 5px);
	border-top-width: 2px;
	/* border-color: red; */
}
.primaryNav ul ul ul:before {
	width: 50%;
	height: 1.25em;
	top: -10px;
	right: 1px;
	border-left-width: 2px;
	/* border-color: red; */
}
.primaryNav ul ul ul li:after {
	border-width: 0;
}



.primaryNav ul ul ul ul li:before {
	display: none;
}
.primaryNav ul ul ul ul li:first-child:before {
	display: none;
}
.primaryNav ul ul ul ul:before {
	display: none;
}

/* ------------------------------------------------------------
	Utility Navigation
------------------------------------------------------------ */

.utilityNav {
	float: right;
	margin-top: 0;
	margin-bottom: -.25em;
	margin-right: 1.25em;
	max-width: 48%;
	list-style-type: none;
}
.utilityNav li {
	padding: 0 0 .625em .625em;
	display: inline-block;
}
.utilityNav li:first-child {
}
.utilityNav li a {
	display: block;
	border: 2px solid #e3ca4b;
	font-size: .75em;
	padding: .5em 1em;
	font-weight: bold;
	text-align: center;
	color: black;
	background: #fff7aa url('images/white-highlight.png') top left repeat-x;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	text-decoration: none;
}
.utilityNav li a:hover {
	background-color: #fffce5;
	border-color: #d1b62c;
}
.utilityNav li a:link:before,
.utilityNav li a:visited:before {
	color: #ccae14;
	font-size: .75em;
}

/* ------------------------------------------------------------
	Responsive Styles
------------------------------------------------------------ */

@media screen and (max-width: 30em) {
	.primaryNav ul {
		display: block;
	}
	.primaryNav li {
		width: 100%;
		padding-right: 0;
	}
	.primaryNav #home {
		width: 100%;
		position: relative;
		margin-bottom: -1em;
		margin-top: 0;
	}
	.utilityNav {
		float: none;
		display: block;
		width: 100%;
		text-align: right;
		margin-bottom: 2.5em;
		max-width: 100%;
	}
}

/* The media queries below keep grid column widths intact when
the page wraps to avoid wrapped line items showing at 100% width. 
These queries also make the homepage line item flex appropriately.
When your sitemap is complete, remove the queries below that you 
don't need, and your sitemap layout will function perfectly. */

/* three column */
@media screen and (min-width: 30em) {
	.primaryNav > ul > li {	max-width: 50%;	}
}
/* four column */
@media screen and (min-width: 38.5em) {
	.primaryNav > ul > li {	max-width: 33%;	}
}
/* five column */
@media screen and (min-width: 50em) {
	.primaryNav > ul > li {	max-width: 25%;	}
}
/* six column */
@media screen and (min-width: 61em) {
	.primaryNav > ul > li {	max-width: 20%;	}
}
/* seven column */
@media screen and (min-width: 73em) {
	.primaryNav > ul > li {	max-width: 16.66%;	}
}
/* eight column */
@media screen and (min-width: 84.5em) {
	.primaryNav > ul > li {	max-width: 14.285%;	}
}
/* nine column */
@media screen and (min-width: 96em) {
	.primaryNav > ul > li {	max-width: 12.5%; }
}
/* ten column */
@media screen and (min-width: 107.5em) {
	.primaryNav > ul > li {	max-width: 11.11%; }
}