/* ------------------------------------------------------------
	Reset Styles
------------------------------------------------------------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/* ------------------------------------------------------------
	General Styles
------------------------------------------------------------ */

* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background: white;
	color: black;
	font-size: 16px;
	line-height: 1;
	padding: 2em;
}
.sitemap {
	margin: 0 0 2em 0;

}
h1 {
	font-weight: bold;
	font-size: 1.25em;
	margin: 0 0 .25em 0;
}
h2 {
	font-size: .75em;
	color: #777777;
	margin: 0 0 1.25em 0;
}
a {
	text-decoration: none;
}
ol, ul {
	list-style: none;
}

/* ------------------------------------------------------------
	Lines
------------------------------------------------------------ */

.primaryNav ul li:before,
.primaryNav ul li:after {
	display: block;
	content: '';
	position: absolute;
	border-width: 0;
	border-color: rgba(0,0,0,.1);
	//border-color: red;
	border-style: solid;
}

.primaryNav ul ul li:after {
	width: 50%;
	height: .6875em;
	top: 0;
	right: 1px;
	border-left-width: 2px;
	//display: block;
	//width: 100%;
	// width: 100%;
	// clear: left;
	// margin-top: 0;
	//background: url('images/vertical-line.png') center bottom repeat-y;
}

// .primaryNav li:before,
// .primaryNav li:after  {
// 	display: block;
// 	content: '';
// 	position: absolute;
// 	border-width: 0;
// 	border-color: #dddddd;
// 	border-style: solid;
// 	box-sizing: border-box;
// }
// .primaryNav li:before {
//   width: 100%;
//   height: 15px;
//   top: 14.5px;
//   left: 0;
//   border-top-width: 1px;
// }
// .primaryNav li:after {
//   width: 50%;
//   height: 15px;
//   top: 15px;
//   right: 0.5px;
//   border-left-width: 1px;
// }
// .primaryNav > li:last-child:before {
//   width: -webkit-calc(50% + 0.5px);
//   width: calc(50% + 0.5px);
//   height: 15.5px;
//   top: 14.5px;
//   border-top-width: 1px;
//   border-right-width: 1px;
// }
// .primaryNav > li:last-child:after {
//   display: none;
// }


// .primaryNav li li:before {
//   width: -webkit-calc(50% + 0.5px);
//   width: calc(50% + 0.5px);
//   height: 10px;
//   border-top-width: 0;
//   border-right-width: 1px;
//   top: 0;
//   bottom: auto;
// }
// .primaryNav li li:after {
//   display: none;
// }
// .primaryNav li li:first-child {
//   padding-top: 30px;
// }
// .primaryNav li li:first-child:before {
//   height: 30px;
// }



// .primaryNav li li ul:before,
// .primaryNav li li ul:after {
//   display: block;
//   content: '';
//   position: absolute;
//   border-width: 0;
//   border-color: gray;
//   border-style: solid;
//   box-sizing: border-box;
// }

// .primaryNav li li ul:before {
//   width: -webkit-calc(50% + 0.5px);
//   width: calc(50% + 0.5px);
//   height: 15.5px;
//   border-right-width: 1px;
//   border-bottom-width: 1px;
//   top: 0;
// }

// .primaryNav li li ul:after {
//   width: 100%;
//   height: 10px;
//   border-left-width: 1px;
//   top: 15px;
// }



// .primaryNav li li li:before {
//   left: 0;
//   height: 100%;
//   width: 15%;
//   border-left-width: 1px;
//   border-right-width: 0;
// }

// .primaryNav li li li:after {
//   display: block;
//   left: 0;
//   right: auto;
//   top: 0;
//   width: 15%;
//   height: -webkit-calc(50% + 0.5px);
//   height: calc(50% + 0.5px);
//   border-left-width: 0;
//   border-bottom-width: 1px;
// }

// .primaryNav li li li:first-child:before {
//   height: 100%;
// }

// .primaryNav li li li:last-child {
//   margin-bottom: 5px;
// }

// .primaryNav li li li:last-child:before {
//   height: 50%;
// }

/* ------------------------------------------------------------
	Site Map Styles
------------------------------------------------------------ */

/* --------	Top Level --------- */

.primaryNav {

}
.primaryNav #home {
	display: block;
	float: none;
	//background: #ffffff url('images/L1-left.png') center bottom no-repeat;
	position: relative;
	z-index: 2;
	padding: 0 0 30px 0;
}
.primaryNav .primaryNav__home:after {
	width: 50%;
	height: 15px;
	top: auto;
	bottom: 0.5px;
	right: 0;
	border-top-width: 1px;
	border-left-width: 0;
}
.primaryNav ul {
	display: flex;
	//width: 100%;
}
.primaryNav li {
	flex-grow: 1;
	padding-right: 20px;
	position: relative;
	//padding: 30px 0px;
	//margin-top: -30px;
}
.primaryNav li a {
	margin: 0;
	//margin-right: 20px;
	padding: 10px;
	display: block;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: black;
	background: #c3eafb url('images/white-highlight.png') top left repeat-x;
	border: 2px solid #b5d9ea;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.primaryNav li a:hover {
	background-color: #e2f4fd;
	border-color: #97bdcf;
}
.primaryNav li:last-child {
	//background: url('images/L1-right.png') center top no-repeat;
}
a:link:before,
a:visited:before {
	content: " "attr(href)" ";
	display: block;
	text-transform: uppercase;
	font-size: 10px;
	margin-bottom: 5px;
	word-wrap: break-word;
}
.primaryNav li a:link:before,
.primaryNav li a:visited:before {
	color: #78a9c0;
}

/* --------	Second Level --------- */

.primaryNav ul ul {
	display: block;
}
.primaryNav ul ul li {
	padding-top: .6875em;
	padding-right: 0;
	//display: block;
	//width: 100%;
	// width: 100%;
	// clear: left;
	// margin-top: 0;
	//background: url('images/vertical-line.png') center bottom repeat-y;
}
.primaryNav li li a {
	background-color: #cee3ac;
	border-color: #b8da83;
}
.primaryNav li li a:hover {
	border-color: #94b75f;
	background-color: #e7f1d7;
}
.primaryNav li li:first-child {
	padding-top: 30px;
}
.primaryNav li li:last-child {
	//background: url('images/vertical-line.png') center bottom repeat-y;
}
.primaryNav li li a:link:before,
.primaryNav li li a:visited:before {
	color: #8faf5c;
}

/* --------	Third Level --------- */

.primaryNav ul ul ul {
	margin-top: .6em;
	padding-top: .6em;
	padding-bottom: .625em;
}
.primaryNav ul ul ul li {
	padding-top: .3125em;
	padding-bottom: .3125em;
}
.primaryNav ul ul ul li a {
	background-color: #fff7aa;
	border-color: #e3ca4b;
	font-size: .75em;
	padding: .5em 0;
	width: 80%;
		margin-right: 0;
	margin-left: auto;

}
.primaryNav ul ul ul li a:hover {
	background-color: #fffce5;
	border-color: #d1b62c;
}
.primaryNav ul ul ul li:first-child {
	padding-top: 1em;
	//background: url('images/L3-li-top.png') left center no-repeat;
}
.primaryNav ul ul ul li:last-child {
	//background: url('images/L3-bottom.png') left center no-repeat;
}
.primaryNav ul ul ul li a:link:before,
.primaryNav ul ul ul li a:visited:before {
	color: #ccae14;
	font-size: .75em;
}


/* ------------------------------------------------------------
	Utility Navigation
------------------------------------------------------------ */

.utilityNav {
	//float: right;
	max-width: 50%;
	margin-right: 10px;
}
.utilityNav li {
	//float: left;
	margin-bottom: 10px;
}
.utilityNav li a {
	margin: 0 10px 0 0;
	padding: 5px 10px;
	display: block;
	border: 2px solid #e3ca4b;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: black;
	background: #fff7aa url('images/white-highlight.png') top left repeat-x;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.utilityNav li a:hover {
	background-color: #fffce5;
	border-color: #d1b62c;
}
.utilityNav li a:link:before,
.utilityNav li a:visited:before {
	color: #ccae14;
	font-size: 9px;
	margin-bottom: 3px;
}